* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  background-color: rgb(238, 242, 255);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

.box_main {
  display: flex;
  flex-direction: row;
  width: 736px;
  height: 512px;
  background-color: white;
  border-radius: 32px;
  align-self: center;
  margin: auto 0;
}

h1 {
  margin: 20px 10px 10px 10px;
  text-align: left;
}

h3 {
  margin: 10px 10px 20px 10px;
  text-align: left;
}

.box_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 368px;
  height: 512px;
  background-color: rgb(98, 70, 255);
  border-radius: 32px;
}

.box_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 368px;
  height: 512px;
  border-radius: 32px;
}

.box_right_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 300px;
  height: 520px;
  margin-top: 10px;
  gap: 20px;
}

.box_circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(0deg, #6246ff 0%, #3b27c5 100%);
}

.box_total_scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  height: 272px;
  gap: 14px;
}

.box_reaction {
  display: flex;
  width: 288px;
  height: 56px;
  background-color: rgba(255, 85, 85, 0.1);
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.box_reaction_inner_left {
  width: 50%;
  display: flex;
  align-items: center;
  color: rgb(255, 85, 85);
  font-weight: 500;
  font-size: 18px;
  gap: 8px;
}

.box_reaction_inner_right {
  width: 50%;
  text-align: right;
  color: rgb(48, 59, 89);
  font-weight: 700;
}

.box_memory {
  display: flex;
  width: 288px;
  height: 56px;
  background-color: rgba(255, 178, 30, 0.1);
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.box_memory_inner_left {
  width: 50%;
  display: flex;
  align-items: center;
  color: rgb(255, 178, 30);
  font-weight: 500;
  font-size: 18px;
  gap: 8px;
}

.box_memory_inner_right {
  width: 50%;
  text-align: right;
  color: rgb(48, 59, 89);
  font-weight: 700;
}

.box_verbal {
  display: flex;
  width: 288px;
  height: 56px;
  background-color: rgba(0, 187, 143, 0.1);
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.box_verbal_inner_left {
  width: 50%;
  display: flex;
  align-items: center;
  color: rgb(0, 187, 143);
  font-weight: 500;
  font-size: 18px;
  gap: 8px;
}

.box_verbal_inner_right {
  width: 50%;
  text-align: right;
  color: rgb(48, 59, 89);
  font-weight: 700;
}

.box_visual {
  display: flex;
  width: 288px;
  height: 56px;
  background-color: rgba(17, 37, 214, 0.1);
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.box_visual_inner_left {
  width: 50%;
  display: flex;
  align-items: center;
  color: rgb(17, 37, 214);
  font-weight: 500;
  font-size: 18px;
  gap: 8px;
}

.box_visual_inner_right {
  width: 50%;
  text-align: right;
  color: rgb(48, 59, 89);
  font-weight: 700;
}

.box_continue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 56px;
  font-size: 18px;
  border-radius: 128px;
  color: white;
  background: linear-gradient(0deg, #7755ff 0%, #6943ff 50%, #2f2ce9 100%);
}

.text_result {
  font-weight: 700;
  width: 125px;
  height: 31px;
  font-size: 24px;
  text-align: center;
  color: #cac9ff;
}

.text_score {
  font-weight: 800;
  width: 81px;
  height: 72px;
  font-size: 72px;
  text-align: center;
  color: white;
}

.text_total_score {
  font-weight: 800;
  width: 52px;
  height: 23px;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  color: white;
  opacity: 0.5;
}

.text_great {
  font-weight: 700;
  width: 83px;
  height: 42px;
  font-size: 32px;
  text-align: center;
  color: white;
}

.text_lower {
  font-weight: 500;
  width: 260px;
  height: 69px;
  font-size: 18px;
  text-align: center;
  color: #cac9ff;
}

.text_summary {
  align-self: flex-start;
  font-weight: 700;
  width: 104px;
  height: 31px;
  font-size: 24px;
  text-align: left;
  color: #303b59;
}

.text_opacity_50 {
  opacity: 0.5;
}
